body {
  padding: 30px 0;
  font-family: 'Poppins', sans-serif;
}

h1,
h3 {
  font-weight: 600;
  margin-bottom: 0;
}


input.form-control,
select.form-select {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #333;
}

.header {
  margin-bottom: 50px;
}

.header-wrap {
  display: flex;
  justify-content: flex-end;
}

.btn-signout {
  border-radius: 18px;
}

.title-page {
  margin-bottom: 50px;
}

.formTracker-input {
  margin-bottom: 30px;
}

.formTracker-input .form-label {
  font-size: 18px;
  margin-bottom: 15px;
}

.formTracker-btn {
  display: flex;
  justify-content: flex-end;
}

hr {
  margin: 30px 0;
}

.listTracker-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.listTracker-header #search {
  max-width: 250px;
}

.listTracker-filter,
.listTracker-order {
  display: flex;
  align-items: center;
  column-gap: 75px;
}

.listTracker-filter__title,
.listTracker-order__title {
  width: 100px;
}

.listTracker-filter {
  margin-bottom: 30px;
}

.listTracker-order {
  margin-bottom: 50px;
}

.listTracker-order__select {
  width: 200px;
}

.listTracker-body table th,
.listTracker-body table td {
  padding: 20px 15px;
}

.listTracker-body table th {
  font-weight: 600;
}

.listTracker-body table td .des-text,
.listTracker-body table td .severity-text {
  line-height: 1.2;
}

.listTracker-body table td:nth-child(5) .author-list {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.listTracker-body table td:nth-child(5) .author-list img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.listTracker-body table td .severity-text {
  text-transform: capitalize;
}

.listTracker-body table td #btnClose {
  color: #fff;
}

.mr-2 {
  margin-right: 8px;
}

.cursor-pointer {
  cursor: pointer;
}

.page-item.active {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

